<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Server=localhost;Database=WorkDayTest;Trusted_Connection=True;" />
    <add key="Service" value=""/>
    
    <!--Reflection全跑請空白-->
    <add key="SpecifyOperation" value="" />

    <add key="ValidateOnly" value="1" />
    <!--跑單一筆資料使用以下範例-->
    <!--<add key="SpecifyCondition" value="WHERE [Location_Data.Location_Name] = 'Trend Australia-Auckland Offic'" />-->
    <add key="SpecifyCondition" value="" />
    <add key="APITableNamePrefix" value="T_" />
    <add key="ReferenceTableNamePrefix" value="TR_" />
    <add key="CustomTableNamePrefix" value="TC_" />
    <add key="CustomReferenceTableNamePrefix" value="TCR_" />
    <add key="MappingTablePrefix" value="M_" />
    <add key="CsvReportName" value="report" />
    <add key="TenantID" value="敏感資訊消除" />
    <add key="UserName" value="敏感資訊消除" />
    <add key="Password" value="敏感資訊消除" />
  </appSettings>
  <system.serviceModel>
    <bindings />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
