<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Financial_ManagementBinding" />
                <binding name="Benefits_AdministrationBinding" />
                <binding name="Cash_ManagementBinding" />
                <binding name="CompensationBinding" />
                <binding name="Human_ResourcesBinding" />
                <binding name="RecruitingBinding" />
                <binding name="StaffingBinding" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>